* {
  /* color: #e8e8a6; */
  color: #f2f5c8;
  background-color: #219f94;
  font-family: "Comfortaa";

  text-align: center;
}

img {
  display: block;
  height: 50%;
  width: 40%;
  margin: 0 auto;
}

div.pic {
  background-color: #c1deae;
}

/* button {
  border: 2% solid black;
  border-radius: 20px 20px;
  background-color: #f2f5c8;
  color: #219f94;
  font-size: 18px;
  margin: 2%;
  padding: 6px;
} */

h3 {
  font-family: "Caveat";
  margin: 0% 0% 10% 0%;
}

footer {
  margin-top: 8%;
}
